.center_left {
    text-align: left;
    margin-left: 20%;
    margin-top: 0%;
    margin-bottom: 10%;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*text-align: center;*/
}
.project_box {
    width: 360px !important;
    height: 260px !important;
    /*z-index: 2;*/

}


.project_box_caption {
    width: 360px;
    height: 90px;

}

.intro-heading{
    text-shadow: 2px 2px 4px #95A5A6;

}

.navbar-brand {
    text-shadow: 1px 2px 2px #95A5A6;

}

.col-lg-12{
    margin-top: -70px;
}


.row_bttm1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.row_bttm2 {
    margin-top:-50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.container_bttm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    /*align-items: center;*/
    align-content: center;
}

.btn btn-xl{
    padding-top: 10px;
}


.text_yellow  {
    color: #FED136;
    font-size: medium;
}

.button_bttm{
    margin-top: 10px;
}

.center{
    margin: auto;
    width: 50%;
}

.center_bottom{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

    /*margin: auto;*/
    /*width: 50%;*/
    /*padding: 10px;*/
}

.container_bttm_row{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /*flex-wrap: wrap;*/
    /*margin-top: -40px;*/
}

.a{
    color: #000000;
}

.page-scroll{
    font-size: large;
}

