.center_left {
    text-align: left;
    margin-left: 25%;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*text-align: center;*/
}
.project_box {
    width: 360px !important;
    height: 260px !important;
    /*z-index: 2;*/

}


.project_box_caption {
    width: 360px;
    height: 90px;

}

.intro-heading{
    text-shadow: 2px 2px 4px #95A5A6;

}

.navbar-brand {
    text-shadow: 1px 1px 2px #95A5A6;

}

.col-lg-12{
    margin-top: -70px;
}